@charset "UTF-8";

body {
    background-color: rgb(209, 169, 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: justify;
}

h1 {
    color: rgb(115, 32, 193);
}

h1#titulo-principal {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
    text-align: center;
}

h2 {
    color: blueviolet;
}

.basico {
    color: rgb(43, 226, 80);
}

.intermediario {
    color: rgb(226, 211, 43);
}

.avancado {
    color: rgb(226, 58, 43);
}